@model BOL.tbl_TYPE_REPONSE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Voulez-vous effacer ce type réponse?</h3>
                </div>
                <div class="box-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                Nom
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nom)
                            </dd>

                        </dl>

                        @using (Html.BeginForm("Delete", "TypeReponse", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="box-footer">
                                <input type="submit" value="Effacer" class="btn btn-danger" /> |
                                @Html.ActionLink("Retourner à la liste", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>